*{
    margin: 0;
    padding: 0;   
    font-family: "Inter", sans-serif;
}

.navigration-bar {
    /* max-width: 1600px; */
    height: 76px;
    background-color: #1a0b2efa;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.331);
    position: relative;
} 

.hide {
    position: absolute;
    right: 20px;
    visibility: hidden;
}

.nav-heading {
    font-size:2rem ;
    font-weight:800 ;

}
.txt2 {
    background: linear-gradient(to right, #F7E93F ,#FB09B4 ,#9100F8);
    color: transparent;
    
    
}

ul {
    display: flex;
    list-style: none;

}
ul li {
   margin-right: 30px ;
}
ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
}

.btn{
    background: linear-gradient(to right, #F7E93F ,#FB09B4 ,#9100F8);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    
}

.banner-container {
    height: 760px;
    max-width: 1600px;
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
}

.banner-content {
    /* border: 2px solid red; */
    height: 530px;
    width: 700px;
    position: absolute;
    top: 100px;
    left: 625px;
    padding: 60px;
    
   
}
.circle {
    height: 300px;
    width: 300px;
    background-image: url("assets/hero-circle.png");
    background-size: cover;
    position: relative;
    margin-left: 15px;
     /* border: 3px solid green;  */
   
}
.new-btn {
    background-color: rgb(111, 239, 111);
    width: 64px;
    height: 32px;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    position: absolute;
    top: 20px;
    left: 225px;
}
.circle-img {
    height: 180px;
    width: 120px;
    position: absolute;
    top: 70px;
    left: 90px;
}

.container-heading {
    font-size:4rem ;
    font-weight: 550px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 25px;
}

.banner-content  p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
   position: absolute;
   left: 20px;
   margin-top: 10px;

}

.btn2 {
    height: 44px;
    width: 180px;
    margin-top: 50px;
    background: linear-gradient(to right, #F7E93F ,#FB09B4 ,#9100F8);
    color: rgb(255, 255, 255);
    border-radius: 15px ;
    border: none;
    position: relative;
    margin-right: 50px;
}
.btn2 img {
   height: 20px;
   width: 20px;
   position: absolute;
   top: 12px;
   left: 12px;

}

.btn3 {
    height: 44px;
    width: 170px;
    margin-top: 50px;
    border-radius: 15px ;
    border: 2px solid green;
    background-color: none;
    background: transparent;
    color: green;
    font-weight: 600;
    position: relative; 
   
}

.btn3 img {
    position: absolute;
    height: 16px;
    width: 19px;
    top:13px;
    left: 20px;
}

.hero-container {
    background-color: #1A0B2E;
    max-width: 1600px;
    height: 646px;
    
}

.about {
    height: 222px;
    width: 1200px;
    /* border: 2px solid red; */
    padding: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.331);
}

.about h2 {
    font-size: 2.8rem;
    margin-bottom: 15px;
}

.about p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.653);
}

.ratting {
    /* border: 1px solid orange; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 180px;
    width: 1200px;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
    text-align: center;

}
.ratting h1 {
    font-size: 3rem;
    color: #00FF88;
}

.ratting p {
    color: rgba(255, 255, 255, 0.678);
    margin-right: 10px;
}

.card-3 i {
    font-size: 2.5rem;
}



.main-content {
    background-color: #1A0B2E;
    max-width: 1600px;
    height: 1276px;
}

.feature {
    
    width: 1200px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    gap: 10px;
}


.main-content h2 {
    text-align: center;
    font-size: 2rem;
    font-weight:800;
    color:#FFFFFF ;
    padding: 60px;

}

.template {
    height: 380px;
    width: 390px;
    background-color: #250D44;
     border-radius: 15px ;
    border: none;
}
iframe{
    width: 100%;
    height: 210px;
    margin-bottom: 10px;
}
.template h3 {
    color: rgba(255, 255, 255, 0.811);
    font-size: 1rem;
    margin-bottom: 10px;
}

.template p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.354);
    margin-bottom: 20px;
   
}
.clock {
    display: flex;
}

.clock img {
    height: 15px;
    width: 18px;
    margin-left: 10px;
}

.clock p {
    margin-left: 10px;
}

.host-section {
    height: 378px;
    width: 1200px;
    background-color: #1A0B2E;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.host-section h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;

}

.host-content-section {
    /* border: 1px solid yellow;*/
    width: 1200px; 
    height: 280px;
    display: flex;
    gap: 50px;
    background-color: #351165;
    border-radius: 15px;
}

.host-content {
    width:896px;
    height: 183px;
    margin-top: 50px;
}


.man {
    height: 200px;
    width: 200px;
    background-image: url("assets/host.png");
    margin-left: 10px;
    margin-top: 30px;
}

.host-content h3 {
    color: white;
    margin-bottom: 10px;

}

.host-content  p {
    color: rgba(255, 255, 255, 0.523);
    margin-bottom: 20px;
}

#icon {
    display: flex;
    gap: 20px;
}

.icon {
    text-align: center;
    height: 20px;
    width: 20px;
     border: 1px solid rgba(255, 0, 0, 0.32);
    padding: 6px;
    border-radius: 50%;
}

#footer {
    /* border: 1px solid yellow; */
    background-image: url(assets/footer-bg.png);
    max-width: 1600px;
    height: 412px;
    position: relative;
}

.footer-content {
    /* border: 1px solid green; */
    width: 1360px;
    height: 172px;
    position: absolute;
    top: 120px;
    left: 70px;
   
}

.footer-heading {
    color: white;
    font-size: 3rem;
}

.footer-content {
    text-align: center;
    position: relative;
}

.footer-icon {
    gap: 30px;
 position: absolute;
    display: flex;
    top: 90px;
    left: 500px;
    color: rgba(255, 255, 255, 0.699);
}

.end{
   position: absolute;
   bottom: 0;
   left: 510px;
   color: rgba(255, 255, 255, 0.523);
}

/* // right-side gap issu solution // */
.navigration-bar,
.banner-container,
.hero-container,
.main-content,
#footer {
    max-width: 100%;
    
}

.box {
    background-color: rgba(35, 14, 61, 1);
    padding: 30px;
    
}

.box h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
   padding: 60px;
}
.box-container{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: rgba(35, 14, 61, 1);
    
}
#card-box {
   
    background-color: rgba(53, 17, 101, 0.4);
    color: white;
    padding: 30px;
    border-radius: 15px ;
}

#card-box img {
    margin-left: 15px;

}

#card-box h3 {
    margin: 10px;
    color: rgba(255, 255, 255, 0.922);

}
 #card-box p{
    color: rgba(255, 255, 255, 0.667);
    margin-left: 10px;
    
 }
.box-1{
    grid-column: span 1;
    grid-row: span 2;
    
}
.box-2{
    grid-column: span 2;
    grid-row: span 1;
}
.box-4 {
    grid-column: span 2;
    grid-row: span 1;

}

.hide{
    display: none;
}

.menu-bar{
    display: none;
}

/* // responsive design //  */

